<div class="flex flex-col w-[300px] min-h-[530px] bg-[white] p-3">
    <img src={{imageUrl}}/>
    <span class=" text-center text-lg font-semibold">{{title}}</span>
    <span><span class="font-semibold">Gorivo:</span> {{fuel}}</span>
    <span><span class="font-semibold">Mjenjač:</span> {{transmition}}</span>
    <span><span class="font-semibold">Br. vrata:</span> {{door_number}}</span>
    <span><span class="font-semibold">Br. sjedišta:</span> {{seats_number}}</span>
    <span><span class="font-semibold">Klima:</span> {{air_conditioner}}</span>
    <span><span class="font-semibold" *ngIf="quatro_drive">Pogon 4x4:</span> {{quatro_drive}}</span>
    <button class="p-2 mt-auto rounded-md text-white bg-[#454545]"> Pošalji upit</button>
</div>
