<div class="w-[1024px]">
    <navbar/>
    <img src="../../../assets/images/baner_image.png"/>
    <div class="flex flex-row items-center justify-center gap-20 p-5 bg-gradient-to-t from-[#D0D0D0] to-[#FFFFFF]">
        <img src="../../../assets/icons/mercedes.svg"/>
        <img src="../../../assets/icons/volkswagen.svg"/>
        <img src="../../../assets/icons/peugeot.svg"/>
        <img src="../../../assets/icons/toyota.svg"/>
        <img src="../../../assets/icons/renault.svg"/>
    </div>
    <router-outlet/>
</div>